.schedule_block {
  overflow-y: scroll;
  height: 980px;
  margin-right: 3%;
  background-color: #fff;
  border-radius: 15px;
  flex: 1 1 auto;
  //   display: grid;
  padding: 5px 10px;
  min-width: 600px;

  .week_container {
    margin-left: 60px;
  }

  .week_block {
    box-sizing: border-box;

    &_inner {
      box-sizing: border-box;
      text-align: center;

      display: flex;
      justify-content: space-around;
      margin: 15px;

      &_box {
        box-sizing: border-box;

        &_btn {
          font-size: 11px;
        }
      }

      &_date_box {
        box-sizing: border-box;
        min-width: 57.5px;

        &_btn {
          font-size: 25px;
        }
      }
    }
  }

  .schedule_main_block {
    display: flex;
    // overflow-y: scroll;
    overflow-x: hidden;

    .time_block {
      &_kor_time {
        box-sizing: border-box;
        font-size: 12px;
        width: 60px;

        &_inner {
          height: 48px;
          padding-right: 8px;
          display: flex;
          position: relative;

          &_text {
            font-size: 12px;
            position: relative;
            top: -5px;
          }
          &_line {
            width: 83vw;
            min-width: 510px;
            border-top: 1px solid #dde3ea;
            position: absolute;
            flex: 1;
            margin-left: 60px;
            pointer-events: none;
          }
        }
      }
    }

    .date_block {
      display: flex;
      position: relative;
      flex: 1;
      margin: 0px 15px;
      justify-content: space-between;
      overflow: hidden;
      &_inner {
        flex: 1;
        box-sizing: border-box;
        width: fit-content;
        min-width: 57.5px;
        // flex-wrap: wrap;
        border-left: 1px solid #dde3ea;
      }
      &_detail {
        position: relative;
        height: 100%;
        left: calc(0% + 0px);

        z-index: 5;

        &_inner {
          width: calc(100% - 15%);
          height: 48px;
          background-color: rgb(121, 134, 203);
          border-color: rgb(121, 134, 203);
          position: absolute;
          font-size: 11px;
          padding: 5px;
        }
      }
    }
  }
}
